h1 {
    color: red;
}

body {
    font-family: 'Lato';
    background-image: url("../img/rainbow.png");
    background-size: cover;
    
}
/* HEADER */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li{
    display: inline;
    margin-left: 15px;
}

.rules {
    display:block;
}

header .container {
    background-image: linear-gradient(#edc7b7, #eee2DC);
    width: 100%;
    
}

.logo{
    width: 25%;
    filter: drop-shadow(0 0 0.25rem purple);
}

nav {
    margin-top: 1%;
}

/* //////// */

/* //Home// */

.jumbotron {
    filter: drop-shadow(0 0 0.25rem black);

}

.sectionShadow {
    filter: drop-shadow(0 0 0.25rem black);
}
.aboutTuo {
    font-size: 20px;
    padding: 2%;
    background-color: lightpink;
    margin-top: 2%;
    border-radius: 4px;
}
.section {
    font-size: 15px;
    margin-top: 2%;
    background-color: lightgrey;
    padding: 2%;
    border-radius: 4px;
}

.section h3 {
    font-size: 30px;
}

/* //Forum// */

.forumTitle {
    font-size: 20px;
    margin-bottom: -1%;
    text-align: left;

    
}

#submit-post {
    margin-top: 3%;
}



.forums {
    font-size: 12px;
    margin-top: 2%;
    background-color: lightgrey;
    padding: 2%;
    border-radius: 4px;
}

.forumCloseted {
    margin-top:3%;
}

hr {
    border-top: dotted 1px;
    margin-bottom: -1%;
}

#forumIcon {
    width: 30px;
}
#catIcon {
    width: 25px;
    margin-left: 1%;
}

/* Forum Post */

#postSubject {
    text-align: left;
    font-size: 30px;
    margin-bottom: 2%;

    
}
#bodyField {
    background-color: white;
    padding: 2%;
    border: black;
    border-style: dashed;
}
#postInfoFull {
    margin-top: 3%;

}
#userInfo {
    color: white;
    background-color: #123C69;
    padding-top: 2%;
    padding-bottom: 2%;
    opacity: .7;
    border-radius: 5%;
}


#postInfo {
    background-color: #BAB2B5;
    margin-right: 2%;
    border: #ac3B61;
    border-radius: 5%;
    border-style: dashed;
}
#profileIcon {
    margin-top: 4%;
    width: 30%;
    border-radius: 50%;
}

/*  Comments */

#commentsSection {
    background-color: white;
    width: 60%;
    margin-top: 2%;
    border-radius: 5%;
    border: #123C69;
    border-style: dotted;
    margin-bottom: 2%;
}

#commentList {
width: 100%;
margin-left: 3%;
margin-right: 3%;
margin-bottom: 2%;
}

.commentsHead {
    font-style: oblique;
    margin: 1% auto;

}

.aComment {
    margin-top: 1%;
    background-color: black;
    opacity: .5;
    color: white;
    border-radius: 25%;
}

#commentBox {
    margin-top: 3%;
    
}

.commentButton {
    margin-bottom: 3%;
}

/*  Account Page */

.forumOptionIcons {
 width: 10%;
}

#topHeader {
    font-size: 30px;
    filter: drop-shadow(0 0 0.25rem blue);
    width: 70%;
    
    margin: 3% auto;
    color: white;
    border-radius: 2%;
    opacity: .5;
}

#accountFull {
    margin-top: 5%;
    margin-bottom: 3%;

}
#accountInfoAfter {
    margin-left: 10%;
}
#accountInfo {
    color: white;
    background-color: #123C69;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
    margin: 3% auto;
}

