h1 {
    color: red;
}

body {
    background-color: #edc7b7;
    font-family: 'Lato
}
/* HEADER */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li{
    display: inline;
    margin-left: 15px;
}

header .container {
    background-image: linear-gradient(#edc7b7, #eee2DC);
    width: 100%;
    
}

.logo{
    width: 25%;
}

nav {
    margin-top: 1%;
}

/* //////// */

/* //Home// */
.aboutTuo {
    font-size: 20px;
    padding: 2%;
    background-color: lightpink;
    margin-top: 2%;
    border-radius: 4px;
}
.section {
    font-size: 15px;
    margin-top: 2%;
    background-color: lightgrey;
    padding: 2%;
    border-radius: 4px;
}

.section h3 {
    font-size: 30px;
}

/* //Forum// */

.forumTitle {
    font-size: 20px;
    margin-bottom: -1%;
    text-align: left;

    
}

#submit-post {
    margin-top: 3%;
}

.forums {
    font-size: 12px;
    margin-top: 2%;
    background-color: lightgrey;
    padding: 2%;
    border-radius: 4px;
}

.forumCloseted {
    margin-top:3%;
}

hr {
    border-top: dotted 1px;
    margin-bottom: -1%;
}


/* Forum Post */

#postSubject {
    text-align: left;
}
#bodyField {
    background-color: white;
    padding: 2%;
    border: black;
    border-style: dashed;
}
#postInfoFull {
    margin-top: 3%;

}
#userInfo {
    color: white;
    background-color: #123C69;
    padding-top: 2%;
    padding-bottom: 2%;
}

#postInfo {
    background-color: #BAB2B5;
    margin-right: 2%;
    border: #ac3B61;
    border-style: dashed;
}
#profileIcon {
    margin-top: 4%;
    width: 30%;
    border-radius: 50%;
}